html {
    position: relative;
    min-height: 100%;
    background-color: #fff;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

body.path-frontpage {
    /* Margin bottom by footer height - none on front page */
    margin-bottom: 0px;
}

.path-frontpage .feed-icons {
    display: none;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a {
    font-family: 'Mukta', sans-serif;
}

pre code {
    display: block;
    padding: 10px;
    color: #00ff00;
    background-color: #000;
    margin-left: 8px;
    width: 1010px;
    overflow: scroll;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px; /* future proofing */
    -khtml-border-radius: 8px; /* for old Konqueror browsers */
}

/* FA and incons */
/* this is a little bit tricky. */

.nav-item .fa-li {
    left: 0em !important;
    top: 0.5em !important;;
    position: absolute;
    text-align: center;
    width: 2em;
    line-height: inherit;
}

.nav-item .fa-li + a.nav-link {
    padding-left: 30px;
}


/**menu and nav styles**/

#navbar-main {
    border-bottom: 1px solid #e3e3e3;
    padding: 0px;
}

.navbar-dark .navbar-brand {
    color: #fff;
    font-weight: 100;
    font-size: 1.5rem;
    padding-left: 1.25rem;
    font-weight: 100;
}

.nav.navbar-nav {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
}

.breadcrumb {
    background-color: #fff;
}

#navbar-top div:last-child {
    margin-left: auto;
    align-self: flex-start;
}


.navbar-collapse.collapse.show section.row {
    flex-flow: column;
    -webkit-flex-flow: column wrap; /* Safari 6.1+ */
}


#navbar-top .form-inline.navbar-form {
    margin-top:0.385rem;
}


@media all and (max-width: 75em) {
    .navbar-expand-lg .navbar-collapse {
        -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
        -ms-flex-positive: 1;
        flex-shrink: 1;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}


@media all and (max-width: 62em) {
    .navbar-expand-lg .navbar-collapse {
        -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .navbar-expand-lg .navbar-collapse section.row {
        flex-flow: column;
        -webkit-flex-flow: column wrap; /* Safari 6.1+ */
    }

    .navbar-expand-lg .navbar-collapse .nav-link {
        padding-left: 1rem;


    }
   /* #navbar-top.navbar-expand-lg .navbar-collapse .nav-link::before {
        content: "> ";
        display:inline-block;
        color:#B3FFE3;
    }*/

    .navbar-expand-lg .navbar-collapse .nav-link:hover {
        background: #001212;

    }

    .navbar-dark .navbar-brand {
        color: #fff;
        font-weight: 100;
        font-size: 1.2rem;
        padding-left: 1.25rem;
        font-weight: 100;
        padding-top: 0.7rem;
    }

    .collapsing {
        transition: height 0.1s linear;
        /* transition: none !important; */
    }
}

@media all and (max-width: 48em) {
    .navbar-expand-lg .navbar-collapse {
        -ms-flex-preferred-size: 20% !important;
        flex-basis: 20%  !important;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    #views-exposed-form-solr-search-content-page-1:focus-within fieldset.form-type-search-api-autocomplete input {
        width: 220px !important;
        flex: 1;
        transition: none !important;
    }
    #views-exposed-form-solr-search-content-page-1 fieldset.form-type-search-api-autocomplete input {
        transition: none !important;
    }
}

@media all and (max-width: 34em) {
    .navbar-expand-lg .navbar-collapse {
        -ms-flex-preferred-size: 10% !important;
        flex-basis: 10%  !important;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    #views-exposed-form-solr-search-content-page-1:focus-within fieldset.form-type-search-api-autocomplete input {
        width: 175px !important;
        flex: 1;
        transition: none !important;
    }
    #views-exposed-form-solr-search-content-page-1 fieldset.form-type-search-api-autocomplete input {
        transition: none !important;
    }
    .jumbotron {
        margin-left:0!important;
        margin-right:0!important;
    }

}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
}

/** END menu and nav styles**/

/** Begin search box **/

@media (max-width: 992px) {
    #views-exposed-form-solr-search-content-page-1 > div > fieldset.js-form-item {
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 0px;
        margin-left: 0px;
    }
}

.block-views-exposed-filter-blocksolr-search-content-page-1 {
    display: flex;
    position: relative;
    margin-right: 5px;
}

/** END search box **/

h1.title {
    font-size: 2rem;
}

.field--name-display-field-copynode-formatted-metadata h2 {
    font-size: 1.3em;
}

/**home page promo stuff**/

.promo {
    display: block;
    width: 100%;
    height: 740px;
    background-image: url(../img/islands_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start
}


.promo .image-credit {
    font-size: xx-small;
    color: #00995c;
    opacity: 0.5;
    flex-flow: row;
    align-self: flex-end;
    margin-top: auto;
    justify-content: flex-start;
    margin-left: auto;
}

.jumbotron {
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
}

.jumbotro .lead  ul {
    font-size: 1em;
}

@media (max-width: 48em) {
    .jumbotron h1 {
        font-size: 1.8em;
    }

    .jumbotron p.lead-top {
        font-size: 1.2em;
    }
    .jumbotron p.lead {
        font-size: smaller;
    }
}

@media (max-width: 62em) {
    .jumbotron h1 {
        font-size: 2.5em;
    }

    .jumbotron p.lead-top {
        font-size: 1.8em;
    }
    .jumbotron p.lead-bottom {
        font-size: 1.6em;
    }
    .jumbotron p.lead {
        font-size: 1.2em;
    }
}
p.lead-top {
    font-size: 1.8em;
}

p.lead-bottom {
    margin-top: 20px;
    font-weight: bold;
    text-align: left;
    line-height: 1.6em;
    color: #33334d;
}

.btn-primary,
.button--primary {
    background-color: rgb(10, 140, 125);
    border-color: rgb(10, 140, 125);
    color: #fff;
}

.btn-primary:hover,
.button--primary:hover {
    color: #000;
    background-color: #b3ffe0;;
    border-color: #b3ffe0;;
}

#strawberryfield h1,
.front-section h1 {
    font-weight: bold;
}

#strawberryfield h1 {
    text-shadow: 1px 1px #c10b7e;
}

#strawberryfield .jumbotron,
.front-section .jumbotron {
    background-color: rgba(255, 255, 255, 0);
    margin-top: 0px;
    text-align: left;
}

.front-section {
    display: block;
    padding: 12px;
    width: 100%;
    min-height: 600px;
    height: inherit;
    background-color: #e3e3e3;
}

.purple {
    background-color: #d1d1e0;
}

/**linked data, sidebars in general**/

.sidebar .block {
    background-color: #f2f2f2;
}

.sidebar .block.block-views-blockld-display-for-digital-objects-sql-block-1 {
    border: 1px solid #e6e6e6;
}

.block-views-blockld-display-for-digital-objects-sql-block-1 {
    color: #333333;
}

.block-views-blockld-display-for-digital-objects-sql-block-1 h2 {
    text-shadow: none;
    font-size: 1.2em;
}

.block-views-blockld-display-for-digital-objects-sql-block-1 a {
    color: #00995c;
}

.block-views-blockld-display-for-digital-objects-sql-block-1 a:hover {
    color: #00cc7a;
}

/**site footer**/

.site-footer {
    position: absolute;
    width: 100%;
    margin-top: 10px;
    background-color: #000;
}

.site-footer .block {
    border: none;
}

/**END site footer**/

/**search results**/

.view-solr-search-content h2 {
    font-size: 1.4em;
}

/**END search results**/

.view-archieplago-media-files {
    margin-left: -10px;
}

.view-archieplago-media-files .container,
.view-archieplago-media-files .table-responsive {
    padding-left: 0px;

}

.view-id-activity .views-form,
.view-id-activity #edit-header {
    margin-left: -30px;
}

.view-id-activity #edit-action {
    display: block;
    width: 276px;
}

.node-digital-object-collection-form .field--name-title,
.node-digital-object-collection-form .field--type-strawberryfield-field,
.node-digital-object-collection-form .field--name-moderation-state {
    padding: 0px;
}

.node-digital-object-collection-form .btn-primary {
    margin-left: 30px;
}

/**webform**/

.block-help {
    border-color: #fff;
}

.custom-form-input-heading,
.field--name-moderation-state label,
.node-type-list a {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 8px;
}

.node-digital-object-collection-form .field--type-strawberryfield-field .fieldset-legend {
    font-weight: bold;
    font-size: .8em;
}

.node-type-list dt {
    margin-top: 20px;
}

.webform-progress-tracker {
    margin-left: 10px;
}

.field--name-field-descriptive-metadata .fieldset-wrapper {
    margin-left: -30px;
}

.field--name-field-descriptive-metadata .fieldset-wrapper .form-actions {
    margin-left: 16px;
}

.field--name-moderation-state {
    /** margin-left:-30px; **/
    /** width:300px; **/
}

.progress-step.is-active .progress-marker {
    background-color: rgb(10, 140, 125);
}

.webform-progress-tracker .progress-step.is-complete .progress-marker {
    background-color: rgba(40, 167, 115, 0.3);
}

.webform-progress-tracker .progress-step.is-complete:hover .progress-marker {
    background-color: rgba(40, 167, 115, 0.6);
}

.webform-progress-tracker .progress-step.is-active:hover .progress-marker {
    background-color: rgb(10, 140, 125);
}

.webform-actions .webform-button--next {
    background-color: #b3ffe0;
}

.webform-button--submit {
    background-color: rgb(10, 140, 125);
}

.webform-button--preview {
    background-color: rgba(40, 167, 115, 0.3);
}

.webform-progress .progress-title[role="link"] {
    color: #00804d;
}

.webform-progress .progress-title[role="link"]:hover, .webform-progress .progress-title[role="link"]:focus {
    text-decoration: underline;
    color: #00804d;
}


/**END webform**/

/** Layout **/

.layout--twocol {
    margin: 0 0 1em;
    border-bottom: 1px solid rgba(165, 165, 165, 0.3);
    padding-bottom: 5px;
    text-shadow: 0 1px 0 #fff;
    font-size: 1.071em;
    line-height: 1.2;
}

/* node edit */
#page details summary {
    color: #333333;
}

div#sidebar_second.sidebar.col-md-3.order-last:empty {
    max-width: 0px !important;
    width: 0px !important;
    min-height: 0px;
    flex: 0 0 0% !important;
    flex-basis: 0;
}

/* make sure hidden is respected */
.hidden {
    display: none !important;
}
