html {
    position: relative;
    min-height: 100%;
    background-color:rgba(235,235,235,1);
}

body {
    /* Margin bottom by footer height */
    /*margin-bottom: 250px;*/
    font-family: 'Hind Siliguri', sans-serif;
    background-color:rgba(235,235,235,1);
}

#main-wrapper {
    padding-bottom: 250px;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a {
    font-family: 'Hind Siliguri', sans-serif;
}

/*Adds the slashes...*/
h1.title::before {
    content: "\005C\005C";
    color:rgba(80,90,90,1);
}

pre code {
    display: block;
    padding: 10px;
    color: #6a816a;
    background-color: #000;
    margin-left: 8px;
    width: 1010px;
    overflow: scroll;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px; /* future proofing */
    -khtml-border-radius: 8px; /* for old Konqueror browsers */
}

main .feed-icons {
    display: none;
}

/* Highlighted was the class given to page titles */
.highlighted {
    margin-left: 0;
}

@media (min-width: 993px) {
    .highlighted {
        margin-left:250px;
    }
}

/* Content */
.layout--onecol {
    -webkit-flex-direction: row;  /* Safari */
    flex-direction: column;
    margin-bottom: 2em;
}

/* Facet display */
.facet-item {
    word-wrap: break-word;
}

.list-group-item {
    background-color: transparent;
    border: none;
}

.form-text {
    margin-top:0;
}

details summary {
    color: #eb8d00;
}

#page div.entity-meta {
    background-color: rgba(233, 236, 239, 0.31);
    border-radius: .25rem;
    padding: .75rem 1rem;
}

.admin-content .views-form #edit-header {
    padding: 0;
}


/*Explore Pages*/

.explore-page .views-row {
}

.explore-page .views-row:not(:first-child) {
    padding: 2rem 0 0 0;
}

.explore-page .views-row .badge {
    padding: .5rem .75rem;
    font-size: 1em;
    margin-bottom: 1rem;
    background-color: #f6f6f2;
    white-space: normal;
}

@media (min-width: 993px) {
    .explore-page .views-row .badge {
        padding: .5rem .75rem;
        font-size: 1em;
        display: inline-block;
    }
}

/* .explore-by-list-title is added as a class in the Views settings for Explore By X Pages */
.explore-page .views-row  h2.explore-by-list-title {
    position: relative;
    color: rgba(235,91,0,255);
    font-size: 1.6em;
}
@media (min-width: 993px) {
    .explore-page .views-row .views-field-title-autocomplete {
        display: inline-block;
        padding-right: .5rem;
    }
}

/* This is the thumbnail field */
.explore-page .views-row > .views-field-field-descriptive-metadata {
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding-bottom: .75rem;
}

/** Begin search box **/

.block-views-exposed-filter-blocksolr-search-content-page-1 {
    display: flex;
    position: relative;
    margin-right: 5px;
}

/** END search box **/

h1.title {
    font-size: 2rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    color:rgba(26, 26, 26, 255);
}

.field--name-display-field-copynode-formatted-metadata h2 {
    font-size: 1.3em;
}

/* Buttons */
.btn-primary,
.button--primary {
    background-color: rgba(191, 213, 193, 1);
    border-color: transparent;
    color: #fff;
    -webkit-box-shadow:  0 3px 6px rgba(0, 0, 0, 0.161);
    -moz-box-shadow:  0 3px 6px rgba(0, 0, 0, 0.161);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.161);
}

.btn-primary:hover,
.button--primary:hover {
    color: #fff;
    background-color: rgb(164, 213, 173);
    -webkit-box-shadow:  0 3px 6px rgba(0, 0, 0, 0.161);
    -moz-box-shadow:  0 3px 6px rgba(0, 0, 0, 0.161);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.161);
}


.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #A4D5AD;
    -webkit-box-shadow:  0 2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:  0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-color: transparent;
}
.btn-primary:hover {
    border-color: transparent;
}

/* End Buttons */
.front-section {
    display: block;
    padding: 12px;
    width: 100%;
    min-height: 600px;
    height: inherit;
    background-color: #e3e3e3;
}

.purple {
    background-color: #d1d1e0;
}

/**linked data, sidebars in general**/

.sidebar .block {
    background-color: #f2f2f2;
}

.sidebar .block.block-views-blockld-display-for-digital-objects-sql-block-1 {
    border: 1px solid #e6e6e6;
}

.block-views-blockld-display-for-digital-objects-sql-block-1 {
    color: #333333;
}

.block-views-blockld-display-for-digital-objects-sql-block-1 h2 {
    text-shadow: none;
    font-size: 1.2em;
}

.block-views-blockld-display-for-digital-objects-sql-block-1 a {

}

.block-views-blockld-display-for-digital-objects-sql-block-1 a:hover {
    color:rgba(40, 167, 115, 0.3);
}


/**search results**/

.view-solr-search-content h2 {
    font-size: 1.4em;
}

/**END search results**/

.view-archieplago-media-files {
    margin-left: -10px;
}

.view-archieplago-media-files .container,
.view-archieplago-media-files .table-responsive {
    padding-left: 0px;

}

.view-id-activity .views-form,
.view-id-activity #edit-header {
    margin-left: -30px;
}

.view-id-activity #edit-action {
    display: block;
    width: 276px;
}

.node-digital-object-collection-form .field--name-title,
.node-digital-object-collection-form .field--type-strawberryfield-field,
.node-digital-object-collection-form .field--name-moderation-state {
    padding: 0px;
}

.node-digital-object-collection-form .btn-primary {
    margin-left: 30px;
}

/**END webform**/

/** Layout **/

.layout--twocol {
    margin: 0 0 1em;
    border-bottom: 1px solid rgba(165, 165, 165, 0.3);
    padding-bottom: 5px;
    text-shadow: 0 1px 0 #fff;
    font-size: 1.071em;
    line-height: 1.2;
}

/* node edit */
#page details summary {
    color: #333333;
}

div#sidebar_second.sidebar.col-md-3.order-last:empty {
    max-width: 0px !important;
    width: 0px !important;
    min-height: 0px;
    flex: 0 0 0% !important;
    flex-basis: 0;
}

/* make sure hidden is respected */
.hidden {
    display: none !important;
}

/** Navigation breadcrumb **/

details {
    background-color: rgba(191, 213, 193, 1);
    min-height:30px;
    margin-bottom:5px;
    border-radius: .25rem;
    padding: 5px;
}

details:focus, details summary:focus {
    outline: none;
}

details .details-wrapper {
    background-color: white;
}

.field-iiif {
    padding-left: 0px;
    padding-right: 0px;
}

