html {
    position: relative;
    min-height: 100%;
    background-color:rgba(235,235,235,1);
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'Hind Siliguri', sans-serif;
    background-color:rgba(235,235,235,1);
}

#main-wrapper {
    padding-bottom: 250px;
}

body.path-frontpage {
    /* Margin bottom by footer height - none on front page */
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a {
    font-family: 'Hind Siliguri', sans-serif;
}

pre code {
    display: block;
    padding: 10px;
    color: #6a816a;
    background-color: #000;
    margin-left: 8px;
    width: 1010px;
    overflow: scroll;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px; /* future proofing */
    -khtml-border-radius: 8px; /* for old Konqueror browsers */
}

main .feed-icons {
    display: none;
}

/* Content */
.layout--onecol {
    -webkit-flex-direction: row;  /* Safari */
    flex-direction: column;
    margin-bottom: 2em;
}

/* Facet display */
.facet-item {
    word-wrap: break-word;
}

.list-group-item {
    background-color: transparent;
    border: none;
}

.form-text {
    margin-top:0;
}

details summary {
    color: #eb8d00;
}

#page div.entity-meta {
    background-color: rgba(233, 236, 239, 0.31);
    border-radius: .25rem;
    padding: .75rem 1rem;
}
