html {
  position: relative;
  min-height: 100%;
  background-color: #fff;
}


body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

body.path-frontpage {
  /* Margin bottom by footer height - none on front page */
  margin-bottom: 0px;
}

.path-frontpage .feed-icons{
  display: none;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a{
  font-family: 'Mukta', sans-serif;
}

a{
  color:#00804d;
}

a:hover{
  color: #00cc7a;
}

pre code{
  display: block;
  padding:10px;
  color:#00ff00;
  background-color: #000;
  margin-left: 8px;
  width: 1010px;
  overflow:scroll;
  -moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px; /* future proofing */
-khtml-border-radius: 8px; /* for old Konqueror browsers */
}

/*
.form-control{
  background-color: #fff;
}
*/

#views-exposed-form-solr-search-content-page-1{
  margin-right:14px;
}

/**menu and nav styles**/
ul.navbar-nav li{
  display:inline;
}

#navbar-main {
  background-color: #333333;
  padding:0px;
  margin-bottom: 22px;
}

#navbar-main li{
  font-size: .8em;
}

.breadcrumb{
  background-color:#fff;
}

#navbar-top{
  background-color:#000;
  border-bottom: 1px solid #ccc;
}

.navbar-dark .navbar-brand{
  font-size: 1.5em;
  color:#4dffb8;
  margin-left: 14px;
}

.menu--account,
.menu--main {
  position: relative;
  top:6px;
  clear:both;
}

.menu--main {
  margin-left:12px;
  margin-right:12px;
}

.menu--tools a,
#navbar-top.navbar-dark .nav-link{
  color:#b3ffe0;
}

.menu--tools a:hover,
#navbar-top.navbar-dark .nav-link:hover{
  color:#fff;
}
/** END menu and nav styles**/

h1.title{
  font-size: 2rem;
}

.field--name-display-field-copynode-formatted-metadata h2{
  font-size: 1.3em;
}

/**home page promo stuff**/

.promo{
  display: block;
  margin-top:-22px;
  width:100%;
  height:740px;
  background-image: url(../img/islands_1.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.jumbotron{
  margin-top:100px;
  margin-left:10%;
  margin-right: 10%;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

p.lead-top{
  font-size: 1.8em;
}

p.lead-bottom{
  margin-top:20px;
  font-weight: bold;
  text-align: left;
  line-height: 1.6em;
  color: #33334d;
}

.btn-primary,
.button--primary{
  background-color: #28a773;
  border-color: #28a773;
  color:#fff;
}

.btn-primary:hover,
.button--primary:hover{
  color:#000;
  background-color: #b3ffe0;;
  border-color: #b3ffe0;;
}

#strawberryfield{
 }

#strawberryfield h1,
.front-section h1{
  font-weight: bold;
}

#strawberryfield h1{
  text-shadow: 1px 1px #FF0000;
}

#strawberryfield .jumbotron,
.front-section .jumbotron{
      background-color: rgba(255, 255, 255, 0);
      margin-top:0px;
      text-align: left;
    }

.front-section{
   display: block;
   padding:12px;
   width:100%;
   height:600px;
   background-color: #e3e3e3;
 }

 .purple{
   background-color: #d1d1e0;
 }
/**linked data, sidebars in general**/

.sidebar .block{
  background-color: #f2f2f2;
}
.sidebar .block.block-views-blockld-display-for-digital-objects-sql-block-1{
  border: 1px solid #e6e6e6;
}

.block-views-blockld-display-for-digital-objects-sql-block-1{
  color: #333333;
}

.block-views-blockld-display-for-digital-objects-sql-block-1 h2{
  text-shadow: none;
  font-size: 1.2em;
}

.block-views-blockld-display-for-digital-objects-sql-block-1 a{
  color:#00995c;
}

.block-views-blockld-display-for-digital-objects-sql-block-1 a:hover{
  color:#00cc7a;
}

/**site footer**/

.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  margin-top:10px;
  background-color: #000;
}

.site-footer .block{
  border:none;
}
/**END site footer**/

/**search results**/
.view-solr-search-content h2{
  font-size: 1.4em;
}
/**END search results**/


.view-archieplago-media-files{
  margin-left:-10px;
}

.view-archieplago-media-files .container,
.view-archieplago-media-files .table-responsive{
  padding-left:0px;
}

.view-id-activity .views-form,
.view-id-activity #edit-header{
  margin-left: -30px;
}

.view-id-activity #edit-action{
  display:block;
  width:276px;
}

/*
#edit-submit--2{
  color:#fff;
  background-color: #28a773;
}
*/

.node-digital-object-collection-form .field--name-title,
.node-digital-object-collection-form .field--type-strawberryfield-field,
.node-digital-object-collection-form .field--name-moderation-state{
  padding:0px;
}

.node-digital-object-collection-form .btn-primary{
  margin-left:30px;
}
/**webform**/

.block-help{
  border-color:#fff;
}

.custom-form-input-heading,
.field--name-moderation-state label,
.node-type-list a{
  font-weight:bold;
  font-size: 1.2em;
  margin-top:8px;
}

.node-digital-object-collection-form .field--type-strawberryfield-field .fieldset-legend{
  font-weight:bold;
  font-size: .8em;
}

.node-type-list dt{
  margin-top:20px;
}

.webform-progress-tracker{
  margin-left:10px;
}

.field--name-field-descriptive-metadata .fieldset-wrapper{
  margin-left:-30px;
}

.field--name-field-descriptive-metadata .fieldset-wrapper .form-actions{
  margin-left:16px;
}

.field--name-moderation-state{
  margin-left:-30px;
  width:300px;
}

.progress-step.is-active .progress-marker {
    background-color: #28a773;
}

.webform-progress-tracker .progress-step.is-complete .progress-marker {
  background-color: rgba(40, 167, 115, 0.3);
}

.webform-progress-tracker .progress-step.is-complete:hover .progress-marker {
    background-color: rgba(40, 167, 115, 0.6);
}

.webform-progress-tracker .progress-step.is-active:hover .progress-marker {
  background-color: #28a773;
}

.webform-actions .webform-button--next {
  background-color:#b3ffe0;
}
.webform-button--submit {
  background-color:#28a773;
}
.webform-button--preview {
    background-color: rgba(40, 167, 115, 0.3);
}
.webform-progress .progress-title[role="link"] {
    color: #00804d;
}
.webform-progress .progress-title[role="link"]:hover, .webform-progress .progress-title[role="link"]:focus {
    text-decoration: underline;
    color: #00804d;
}

.fas {
  color: rgba(40, 167, 115, 0.2);
}
/**END webform**/

/** Layout **/

.layout--twocol {
    margin: 0 0 1em;
    border-bottom: 1px solid rgba(165,165,165,0.3);
    padding-bottom: 5px;
    text-shadow: 0 1px 0 #fff;
    font-size: 1.071em;
    line-height: 1.2;
}


/* node edit */
#page details summary {
    color: #333333;
}

div#sidebar_second.sidebar.col-md-3.order-last:empty {
    max-width:0px !important;
    width: 0px !important;
    min-height: 0px;
    flex: 0 0 0% !important;
    flex-basis: 0;
}

/* make sure hidden is respected */
.hidden {
    display: none !important;
}
