/* Border under main webform */
#edit-field-descriptive-metadata-wrapper {
    border-bottom: 1px #656565 solid;
}
/* Buttons */

/* This is the "Apply to selected items" button in the filter area above content listings */
#edit-submit--2 {
    margin-left: 15px;
}

#edit-submit, #edit-submit--2, .form-submit {
    background-color: rgba(31, 111, 108, 137);
    color: white;
}

#main .nav a:hover, #main .nav a:focus, #main .nav .link:hover, #main .nav .link:focus {
    color: rgb(235, 141, 0);
    text-decoration: underline;
}

/*Custom node-edit forms, see templates/custom-edit/ */

/* "Object title" above descriptive metadata in Webform */
.custom-edit-form .field--name-title {
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.063);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px; /* future proofing */
    -khtml-border-radius: 8px; /* for old Konqueror browsers */
}

.custom-edit-form .form-type-webform-terms-of-service label::after {
    /*increases visibility of gray on gray*/
    border: 1px solid #000;
}

/* Exposed Solr Search Form */

#views-exposed-form-solr-search-content-page-1 label {
    display:none
}

@media (max-width: 992px) {
    #views-exposed-form-solr-search-content-page-1 > div > fieldset.js-form-item {
        padding-left: 0;
        padding-right: 0;
        margin-right: 0;
        margin-left: 0;
    }
}

/* This is the Css for the Font-Awesome search magnifying glass icon */
#views-exposed-form-solr-search-content-page-1 fieldset.form-type-search-api-autocomplete:before {
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    webkit-font-smoothing: antialiased;
    color: rgba(250,250,250,0.2);
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    font-size: 1.4em;
    content: "\f002";
    position:absolute;
    padding:3px 6px 8px 6px;
    pointer-events: none;

}
#views-exposed-form-solr-search-content-page-1:focus-within fieldset.form-type-search-api-autocomplete input {
    width: 250px !important;
    cursor: pointer;
    outline: none;
    -webkit-box-sizing: content-box;
    /*padding: 3px 10px 3px 32px;*/
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 4px;
    background-color: #fff;
    border-color: transparent;
}

#views-exposed-form-solr-search-content-page-1 fieldset.form-type-search-api-autocomplete input {
    width: 220px !important;
    background-color: rgba(255,255,255,1);
    -webkit-box-shadow:  0 3px 6px rgba(0, 0, 0, 0.161);
    -moz-box-shadow:  0 3px 6px rgba(0, 0, 0, 0.161);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.161);
    -webkit-box-sizing: content-box;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 3px 10px 3px 32px;
    margin-left: 10px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    border-color: transparent;
}

#edit-submit-solr-search-content {
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-color: transparent;
    height: 33px;
    width: 33px;
    border: none;
    color:transparent;
}

.js fieldset.form-type-search-api-autocomplete input.form-autocomplete:focus {
    background-image: url(../../../../core/misc/throbber-inactive.png);
}

.js fieldset.form-type-search-api-autocomplete input.form-autocomplete {
    background-image: none;
}

.js fieldset.form-type-search-api-autocomplete input.form-autocomplete.ui-autocomplete-loading:focus {
    background-image: url(../../../../core/misc/throbber-active.gif);
}

/* This is the "Current state: Draft" etc. section below webforms */
.entity-content-form-footer div, #edit-moderation-state-wrapper {
    padding: 0 0 1px 0;
    background-color: rgb(220, 220, 220);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px; /* future proofing */
    -khtml-border-radius: 8px; /* for old Konqueror browsers */
}

.views-form div {
    padding: 0;
}
