/**
 * @file
 * Subtheme specific CSS.
 */
/* Top header menu */

section.region-top-header-form {
   margin-left:0px;
}

#page .list-group-item {
    background-color: transparent;
    border: none;
}

#page .form-text {
    margin-top:0px;
}

#page .form-control {
    background-color: rgba(233, 236, 238, 0.5);
}

#page details summary {
    color: #0071b3;
}

#page div.entity-meta {
    background-color: rgba(233, 236, 239, 0.31);
    border-radius: .25rem;
    padding: .75rem 1rem;
    border-radius: .25rem;
}

/* Node edit buttons */
#edit-submit {
  background-color: rgb(10,140,125);
}
#edit-preview {
  background-color: rgba(40, 167, 115, 0.3);
}
/* Exposed Solr Search Form */

#views-exposed-form-solr-search-content-page-1 label {
  display:none
}

#views-exposed-form-solr-search-content-page-1 fieldset.form-type-search-api-autocomplete:before {
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  webkit-font-smoothing: antialiased;
  color: rgba(117,128,128,0.5);
  font-family: Font Awesome\ 5 Free;
  font-weight: 900;
  font-size: 1.4em;
  content: "\f002";
  position:absolute;
  padding:4px 6px 8px 6px;
  pointer-events: none;
}
#views-exposed-form-solr-search-content-page-1:focus-within fieldset.form-type-search-api-autocomplete input {
  width: 150px !important;
  cursor: pointer;
  outline: none;
  -webkit-box-sizing: content-box;
  border: solid 1px #4dffb8;
  padding: 6px 15px 6px 32px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background-color: #fff;
}

#views-exposed-form-solr-search-content-page-1 fieldset.form-type-search-api-autocomplete input {
  width: 65px !important;
  background-color: rgba(255,255,255,1);
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
  -webkit-box-sizing: content-box;
  border: solid 1px #333333;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding: 6px 10px 6px 32px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

#edit-submit-solr-search-content{
  padding:.5rem;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background-color: orange;
  color: white;
}

.js fieldset.form-type-search-api-autocomplete input.form-autocomplete:focus {
    background-image: url(../../../../core/misc/throbber-inactive.png);
}

.js fieldset.form-type-search-api-autocomplete input.form-autocomplete {
    background-image: none;
}

.js fieldset.form-type-search-api-autocomplete input.form-autocomplete.ui-autocomplete-loading:focus {
  background-image: url(../../../../core/misc/throbber-active.gif);
}

/* Navigation */
.sidebar nav ul.nav {
  -webkit-flex-direction: row;  /* Safari */
  flex-direction:  column;
}

/* Content */
.layout--onecol {
  -webkit-flex-direction: row;  /* Safari */
  flex-direction:  column;
  margin-bottom: 2em;
}

/* Facet display */
.facet-item {
 word-wrap: break-word;
}
