
.idea/php.xml

.idea/misc.xml

.idea/codeStyles/codeStyleConfig.xml

.idea/archipelago_basetheme.iml

.idea/modules.xml

.idea/workspace.xml

.DS_store
.idea/archipelago_subtheme.iml
.idea/deployment.xml
.idea/vcs.xml
